* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  font-family: Arial, sans-serif;
  background-color: #f7f9fa;
  color: #333;
}

.percentage {
  color: #04a447;
}

/* --- HEADER --- */
.header {
  background-color: #ffffff;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e8ed;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.header .logo h2 {
  color: #ff4757;
}
.header .header-info {
  text-align: right;
}
.header .header-info h1 {
  font-size: 1.6rem;
}
.header .header-info p {
  font-size: 0.85rem;
  color: #747d8c;
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: sticky;
  top: 95px;
  z-index: 999;
  background: transparent;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 6px 12px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.navbar ul li a {
  display: block;
  color: #57606f;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.3s;
}
.navbar ul li a:hover {
  background-color: #f1f2f6;
  color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 30px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.02),
    0 4px 12px rgba(0, 0, 0, 0.03);
  border: 1px solid #eef1f4;
}

.card h3 {
  margin-bottom: 15px;
  color: #2f3542;
  font-size: 1.2rem;
}

/* HOME SECTION */

.home-card {
  grid-column: span 5;
  grid-row: span 2;
}

.welcome {
  background-color: #ffe1e2;
  color: #ff6673;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.home-card h2 {
  font-size: 2rem;
  margin: 15px 0;
  line-height: 1.3;
}

.home-card p {
  color: #57606f;
  line-height: 1.6;
  font-size: 0.95rem;
}

.profile-pic {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 25px;
  object-fit: cover;
}

/* ABOUT SECTION */

.about-card {
  grid-column: span 7;
}

.about-card p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #57606f;
}

/* SKILLS SECTION */

.skills-card {
  grid-column: span 7;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.mini-card {
  height: 100px;
  background-color: #fff7df;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
}

.mini-card i,
span {
  font-size: 13px;
  margin-top: 2rem;
}

/* GALLERY / PORTFOLIO SECTION */

.portfolio-card {
  grid-column: span 8;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  transition: transform 0.2s ease-in-out;
}

.gallery-grid:hover {
  transform: scale(1.04);
}

.gallery-item {
  background: #d5eaff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #f8f9fa;
  transition: transform 0.2 ease-in-out;
}

.gallery-item:hover {
  transition: scale(1.02);
}

.gallery-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.2s;
}

.gallery-item img:hover {
  transform: scale(1.04);
}

.caption {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 5px;
}

/* CONTACT SECTION */

.contact-card {
  grid-column: span 4;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ced6e0;
  border-radius: 6px;
  background-color: #fafbfc;
  display: block;
}

.contact-infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.info-item p {
  margin: 0;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form-buttons button {
  width: 100%;
  height: 70px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn-submit {
  background-color: #2ed573;
}

.btn-reset {
  background-color: #eb6117;
}

/* --- FOOTER --- */
.site-footer {
  background-color: #c2c0bd;
  text-align: center;
  padding: 30px;
  border-top: 1px solid #e1e8ed;
  margin-top: 40px;
  font-size: 0.9rem;
}
.site-footer .social-links a {
  color: #ff4757;
  text-decoration: none;
}
